.boxheader {
    display: flex;
    height: 100px;
}
.boxheader .box:nth-child(1) {
    width: 18%;
    background-color: #F4EB49;
    margin-right: 20px;
    border: 1px solid black;
}
.boxheader .box:nth-child(2) {
    width: 100%;
    background-color: #FF6624;
    border: 1px solid black;
}
.boxmain {
    display: flex;
    height: 415px;
    margin-top: 20px;
}
.boxmain .box:nth-child(1) {
    width: 17%;
    background-color: lightgreen;
    margin-right: 20px;
    border: 1px solid black;
}

.boxmain .box:nth-child(2) {
    width: 80%;
    background-color: #D1D6DB;
    border: 1px solid black;
    margin-right: 20px;
}
.boxmain .box:nth-child(3) {
    width: 200px;
    background-color: #4DD7FA;
    border: 1px solid black;
}
.boxfooter {
    margin-top: 20px;
    width: 100%;
    background-color: #1464F6;
    height: 100px;
    border: 1px solid black;
}